a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.custom-control-input:checked {
    background-color: black; /* Màu nền của checkbox khi được chọn */
    border-color: black; /* Màu viền của checkbox khi được chọn */
    color: white; /* Màu chữ trong checkbox khi được chọn */
}

.form-inputs{
    position:relative;
}
.form-inputs .form-control{
    height:45px;
}

.form-inputs .form-control:focus{
    box-shadow:none;
    border:1px solid #000;
}

.form-inputs i{
    position:absolute;
    right:10px;
    top:15px;
}

/*cart*/
.ui-w-40 {
    width: 40px !important;
    height: auto;
}

.card{
    box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);    
}

.ui-product-color {
    display: inline-block;
    overflow: hidden;
    margin: .144em;
    width: .875rem;
    height: .875rem;
    border-radius: 10rem;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    vertical-align: middle;
}